<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.j5.classmanager.mapper.ClassroomMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zeroone.star.j5.classmanager.entity.Classroom">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="address" property="address" />
        <result column="area" property="area" />
        <result column="remark" property="remark" />
        <result column="creator" property="creator" />
        <result column="editor" property="editor" />
        <result column="add_time" property="addTime" />
        <result column="edit_time" property="editTime" />
        <result column="deleted" property="deleted" />
        <result column="school_id" property="schoolId" />
        <result column="org_id" property="orgId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, address, area, remark, creator, editor, add_time, edit_time, deleted, school_id, org_id
    </sql>

</mapper>
